.hero{
  margin: 50px 350px;
  //margin-top: 20px;
display: flex;
justify-content: space-between;

flex-wrap: wrap;
align-content: center;
  &__item{
      align-content: center;
      margin: 10px, 20px;
      img{
          width: 200px;
          //height: 130px;
          //border: 4px solid black;
      }
  }
}
