<div [ngClass]="{ 'dark': isDark == true, 'light': isDark == false }">

  <app-navigator [navArray]="navArray" [changeTem]="changeTem"></app-navigator>
  <app-hero [photoGallery]="heroGallery"></app-hero>
  <app-films [filmsGallery]="terrorGallery"></app-films>
  <app-films [filmsGallery]="comedyGallery"></app-films>
  <app-films [filmsGallery]="accionGallery"></app-films>
  <app-films [filmsGallery]="animeGallery"></app-films>
  <app-films [filmsGallery]="dramaGallery"></app-films>
  <app-films [filmsGallery]="scifiGallery"></app-films>
</div>
