.gallery{
  //margin: 50px 320px;
  //margin-top: 20px;
display: flex;
justify-content: space-between;

flex-wrap: wrap;
align-content: center;
  &__item{
     width: calc(16% - 2px);
     img{
     width: 100%;
   }
  }
 }
 .title{
  font-size: 30px;
  color: red;
 }
