/* You can add global styles to this file, and also import other style files */
* {

  margin: 0;
  padding: 0;
  //color: white;
  //background-color: black;
  font-family: 'Josefin Sans', sans-serif;

}



a {

  text-decoration: none;
  color:rgb(254, 6, 6);

}
a:hover{

  color: rojo;

 }



li {

  list-style-type: none;

}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,200&display=swap');

